body{
    background-color:azure   
}
h1{
    color:red;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border:4px dotted orange;
    margin: 10px
}
p{
    background-color: papayawhip;
    padding: 20px  30px;
}
#inventario{
     font-family: Arial, helvetica,sans-serif;
     background-color: gainsboro;
     border-bottom: 1px solid red;
}
.especial{
    color: blue;
    font-weight: bold;
    font-style: italic;
}